@font-face {
    font-family: 'MillerBannerBook';
    src: url(../fonts/MillerBannerBook.otf);
    }


:root {
    --main-color-black: #000;
    --main-color-white: #F8F8F8;
    --hover-color-white: #FFF;
}

*, *::before, *::after { box-sizing: border-box;}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-color-black);
    font-family: 'MillerBannerBook';
    color: var(--main-color-white);
    margin: 0;
    padding: 0;
    font-size: 12px;
    letter-spacing: .15em;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--main-color-white);
}

a:hover {
    text-shadow: 0px 0px 15px var(--main-color-white);
    color: #FFF;
}

.text__bottomleft .title__1 {
    font-size:  2em;
    font-weight: 100;
}

h2{
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.navbar {
    font-size: 1em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 20px;
    width: 100%;
    margin-top: 0;
    z-index: 150;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,0));
}

.navbar ul {
    display: flex;
    top: 0;
    list-style-type: none;
    z-index: 1;
    margin: 0;
}

.navbar ul a li {
    margin-left: 15px;
}

.arrow__scroll {
    position: relative;
    bottom: 5vh;
    margin: 50%;
    width: 20px;
    animation: displace_y 1s cubic-bezier(0, .4, 0, 1);
    transition: 250ms;
}

.line__scroll {
    position: absolute;
    height: 10vh;
    max-height: 75px;
    bottom: 50px;
    left: 50%;
    border: 1px solid white;
}

.line__scroll::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 120px;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}

.arrow__scroll:hover {
    bottom: 2vh;
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform-origin: bottom;
    transform: rotate(45deg);
}

.arrow__line {
    position: static;
    height: 10px;
    border: 1px solid white;
    animation: arrow_animation .75s cubic-bezier(.53, .28, .71, .46);
}

@keyframes displace_y {
    from {
        bottom: 400px; opacity: 0;
    }
    
    to {
        bottom: 5vh; opacity: 1;
    }
}

@keyframes line_animation {
    0% {
        transform-origin: bottom; transform: scaleY(1);
    }
    
    50% {
        transform-origin: bottom; transform: scaleY(0);
    }
    
    51% {
        transform-origin: top; transform: scaleY(0);        
    }
    
    100% {
        transform-origin: top; transform: scaleY(1);
    }
}

@keyframes arrow_animation {
    from {
        transform-origin: bottom; transform: scaleY(0);
    }
    
    to {
        transform-origin: bottom; transform: scaleY(1);
    }
}

.text__bottomleft {
    position: absolute;
    bottom: 0;
    padding: 20px;    
    transform: translateX(-98%);
    opacity: 0;
    transition: transform 200ms ease-in, opacity 300ms ease-in;
    z-index: 15;
    pointer-events: none;
}

.text__bottomleft.appear {
    transform: translateX(0px);
    opacity: 1;
    z-index: 15;
}

.media__bs {
    display: block;    
}

.media__ss {
    display: none;
}

section {
    position: relative;
    display: block;
    height: 100vh;
}

.header__video, .section__video{
    top: 0;
    left: 0;
    position: absolute;
    z-index: -10;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.contact {
    position: relative;
    height: 150px;
    padding: 20px;
    background-color: #E0E0E0;
}

.contact div {
    position: absolute;    
}

.bottom__seal {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100px;
}

p, a {
    font-weight: 100;
}

.contact p, .contact a{
    color: var(--main-color-black);
}

.bottomright {
    position: fixed;
    z-index: 15;
    right: 20px;
    bottom: 20px;
    height: 50px;
}

.exhale__logo{
    height: 100%;
}
            
.dots__nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    align-self: center;
    z-index: 10;
    
}

.dot {
    margin: 5px;
    height: 8px;
    width: 8px;
    border: var(--main-color-white) solid 1px;
    border-radius: 50%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}



.slider__arrow {
    color: white;
    transform: scale(.5);
    padding: 0 50px;
    text-shadow: 0 0 10px #000; 
}

.swiper-scrollbar-drag {
    background: rgba(255,255,255,1);
    height: 2px;
}

.swiper-container-horizontal>.swiper-scrollbar {
    background-color: rgba(255,255,255,.2);
    height: 2px;
}

.video__modal {
    z-index: 300;
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width:100%;
    height:100%;
    overflow: hidden;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
    align-items: center; 
    justify-content: center;
}

.play__button {
    position: absolute;
    border: none;
    background: none;
    font-family: 'MillerBannerBook';
    color: var(--main-color-white);
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
/*    z-index: 280;*/
}

.play__button:hover {
    cursor: pointer;
    text-shadow: 0px 0px 15px var(--main-color-white);   
}



@media screen and (max-width: 800px) {
    
    .header__video, .section__video {
        width: 100%;
        height: 100%;
    }
    
    section {
        width: 100vw;
        height: 100vw;
        max-height: 480px;
    }
    
   .text__bottomleft p, .text__bottomleft a {
        font-size: .6em;
        font-weight: 100;
    }
    
    .media__bs {
        display: none;
    }
    
    .media__ss {
        display: block;
    }
    
   .text__bottomleft h1 {
        font-size: 1em;
    }
    
   .text__bottomleft h2 {
        font-size: .8em;
    }
    
   .text__bottomleft h3 {
        font-size: .8em;
    }
    
    h1, h2, h3 {
        margin: .25em 0;
    }
    
    .slider__arrow {
        display: none;
    }
    
    .play__button {
        border: solid white 1px;
        padding: 5px 8px;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {

    .bottomright {
        width: 30px;
    }
    .contact {
        height: 90px;
    }
    .contact h1, .contact p, .contact a {
        font-size: .8em;
    }
    .bottom__seal {
        display: none;
    }

}